[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
cupy = "*"

[packages]
chainer = "*"
progressbar2 = "*"
numpy = "*"
chainerrl = "*"

[requires]
python_version = "3.6"
